/*显示浏览器升级提示时，在body加上一个类名showing-browser-updator*/
body.showing-browser-updator #main-body{
    position: absolute;
    top: 45px;
}

body.showing-browser-updator #browser-updator{
    display: block;
}

#browser-updator{
    color: #333;
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}
.browser-updator-wrapper{
    position: relative;
    background-color: #F8EFB4;
    height: 45px;
    text-align: center;
}
.browser-updator-wrapper p{
    line-height: 45px;
    margin: 0;
    padding: 0;
}
.browser-updator-close {
    top: 0;
    right: 15px;
    position: absolute;
    text-decoration: none;
    font-size: 36px;
    line-height: 45px;
    text-decoration: none;
}
.browser-updator-close:hover {
    text-decoration: none;
}