/*右上角任务队列*/
#notify-boxes .task-box .badge{
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  line-height: 18px;
  position: absolute;
  left: auto;
  top: 2px;
  right: 2px;
}

/*排名*/
/*fieldset 上下padding对IE8无用*/
.report-rank fieldset {
    border: 1px solid #eee;
    padding: 0 16px;
}
.report-rank fieldset legend {
    padding: 0 8px;
    font-weight: bold;
    width: auto;
    border-bottom: none;
    margin-bottom: 0px;
    font-size: 16px;
}

.report-panel .picker-btn[disabled] {
    background: #ddd;
    cursor: not-allowed;
}

.report-panel .fieldset-innerwrap {
    padding: 16px 8px;
    padding-right: 0;
}

.report-panel .picker-btn {
    display: inline-block;
    min-width: 140px;
    padding: 0 8px;
    /*height: 30px;
    line-height: 30px;*/
    border: 1px solid #d9d9d9;
    background: #FFF;
    color: #333;
    border-top-color: #c0c0c0;
}

.report-panel .type-dropdown .picker-btn {
    width: 170px;
}

.report-panel .picker-btn .text {
    padding-right: 12px;
}

.report-panel .condition-wrap {
    font-size: 14px;
    margin-bottom: 24px;
}

.report-panel .condition-wrap .dropdown {
    display: inline-block;
}

.report-panel .condition-wrap .form-group {
    margin-right: 28px;
}

.report-panel .condition-wrap .form-group.last-one {
    margin-right: 0;
}

.report-panel .condition-wrap .form-group {
    display: inline-block;
}

.report-panel .condition-wrap .fieldset-innerwrap .filters {
    min-width: 290px;
}

.report-panel .condition-wrap .order-dropdown .dropdown-menu {
    min-width: 100%;
}

.report-panel .condition-wrap .order-dropdown .picker-btn {
    min-width: 100%;
}

/*筛选条件*/
.report-rank .filter-wrap .fieldset-innerwrap{
    padding-top: 10px;
    padding-bottom: 10px;
}
.report-rank .filter-wrap a.trigger{
    white-space: nowrap;
    cursor: pointer;
}
.report-rank .filter-wrap a.trigger:hover {
    text-decoration: none;
}

.report-rank .filter-wrap .trigger .icon {
    margin-right: 4px;
}

.report-rank .filter-wrap .descr {
    padding-right: 12px;
}

.report-panel .btn-report-submit{
    border-radius: 5px;
    overflow: hidden;
    padding-top: 1px;
    padding-bottom: 1px;
}

.report-rank .btn-report-submit {
    border-radius: 5px;
    overflow: hidden;
    margin: 24px 0 32px 0;
    padding-top: 1px;
    padding-bottom: 1px;
}

.report-rank .filter-wrap .filters{
  float: left;
  min-width: 290px;
  display: none;
}

.report-rank .filter-wrap .collapse-trigger,
.report-rank .filter-wrap .reset-trigger{
  line-height: 32px; 
  float: right;
}

.report-rank .dropdown button{
  width: 100%;
}

.report-rank .filter-input{
  vertical-align: bottom;
}

/*商户选择对话框*/
.mcht-search.search-form .search-wrap {
    padding: 14px;
    display: inline-block;
}

.mcht-search.search-form .search-name {
    vertical-align: bottom;
    font-size: 14px;
}

.mcht-search.search-form .search-input {
    width: 135px;
    margin-left: 12px;
    margin-right: 0;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
}

.mcht-search.search-form .search-btn {
    background: #2A7CCE;
    color: #fff;
    border-radius: 5px;
    line-height: 32px;
    height: 32px;
    padding: 0 22px;
    overflow: hidden;
    border: none;
}

/*机构选择对话框*/
.report-target-dialog .content-wrap {
  position: relative;
  height: auto;
  overflow: auto;
  padding: 8px 16px 16px 8px;
}
.report-target-dialog .ui-dialog-content {
    overflow: hidden!important;
    width: 100%!important;
}
.report-target-dialog .target-select-panel {
    /*这个height：100%必须，影响resize*/
    height: 100%;
    font-size: 16px;
}
.report-target-dialog .search-wrap {
    padding: 16px;
}

.report-target-dialog .search-input {
    /*max-width: 258px; bug#1324*/
    margin-right: 16px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
}


.report-target-dialog .search-wrap .search-btn {
    background: #2A7CCE;
    color: #fff;
    border-radius: 5px;
    line-height: 32px;
    height: 32px;
    padding: 0 22px;
    overflow: hidden;
    border: none;
}
.report-target-dialog .search-wrap .search-btn:focus,
.report-target-dialog .search-wrap .search-btn:active {
    border: none;
    outline: none;
}

.report-target-dialog .search-wrap .cancel-btn {
    float: right;
    text-decoration: none;
    cursor: pointer;
    display: none;
    color: #428BCA;
    line-height: 32px;
}

.report-target-dialog .caption-line{
    padding-left: 16px;
    background: #FAFAFA;
    color: #999;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

/*搜索列表*/
.report-target-dialog .org-list-wrap {
    padding: 8px 0px 16px 16px;
    margin-left: -16px;
    margin-top: -8px;
}

.report-target-dialog ul.org-list {
    margin: 0;
    overflow: auto;
    max-height: 260px;
}

.report-target-dialog .org-list li{
    line-height: 16px;
    padding: 8px 0 8px 16px;
    list-style: none;
    position: relative;
}
.report-target-dialog .org-list li:hover {
    background: #f1f8fd;
}
.report-target-dialog .org-list li .radio-btn {
    top: -2px;
    position: relative;
}
.report-target-dialog .org-list li span {
    cursor: pointer;
}
.report-target-dialog .org-list li .name {
    padding-left: 10px;
}
.report-target-dialog .org-list li .owner-tips {
    padding-left: 16px;
    color: #999;
}

.report-target-dialog.org-select-dialog  .content-wrap{
    padding: 8px 16px 16px 16px;
}

.report-target-dialog.ui-dialog .ui-dialog-buttonpane{
    margin-top: 0px;
}

.report-target-dialog .tree-wrap {
    height: 90%;
}

.report-target-dialog .ztree.org-select-tree{
    padding: 0 40px 0 5px;
    overflow: auto;
    height: 100%;
}

.report-target-dialog .org-select-tree li>a {
    width: 100%;
    height: 100%;
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    display: inline-block;
}

.report-target-dialog .org-select-tree li>a:hover {
    background: #f1f8fd;
    text-decoration: none;
}



.org-select-tree.ztree * {
    font-size: 16px;
    font-size: inherit;
}
.org-select-tree.ztree li {
    line-height: 30px;
}

.org-select-tree.ztree li>span.button[class*="_close"],
.org-select-tree.ztree li>span.button[class*="_open"]{
    background-image: none;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    *margin-right: .3em;

    position: relative;
    font-size: 20px;
    line-height: 24px;
    color: #4790BA;
    left: -4px;
}

.org-select-tree.ztree li>span.button[class*="_close"]:before,
.org-select-tree.ztree li>span.button[class*="_open"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

.org-select-tree.ztree li>span.button[class*="_close"]:before {
  content: "\f067";
}

.org-select-tree.ztree li>span.button[class*="_open"]:before {
  content: "\f068";
}

/*报表内的grid统一样式*/
.pfms-grid .rect{
  border: 1px solid #C8C8C8;
  display: inline-block;
  margin-left: 4px;
  margin-top: 2px;
  bottom: 0;
  position: relative;
  height: 18px;
  width: 18px;
  background: #FFF;
}

.pfms-grid .ui-jqgrid .ui-jqgrid-labels th{
  padding-left: 25px;
  border-bottom: 1px solid #E1E1E1;
}
.pfms-grid .ui-jqgrid tr.jqgrow td {
  padding-left: 25px;
}

.report-rank .ui-jqgrid .ui-jqgrid-htable th div,
.report-grid .ui-jqgrid .ui-jqgrid-htable th div{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.pfms-grid .jqg-second-row-header > th{
    border-bottom: 1px solid #E1E1E1; 
}

.pfms-grid .report-title,
.export-grid .report-title{
  color: white;
  font-size: 20px!important;
}

.pfms-grid .jqg-second-row-header > th.ui-th-column-header{
  text-align: center!important;
  padding-left: 0!important;
}

.pfms-grid .jgrid-container {
  padding-right: 0!important;
}

.pfms-grid .ui-jqgrid .ui-jqgrid-labels,
.pfms-grid .ui-jqgrid .jqg-second-row-header,
.pfms-grid .ui-jqgrid .jqg-third-row-header {
  background: white;
}

.pfms-grid .jqg-third-row-header .ui-jqgrid-sortable{
  color: #9C9C92;
}


.rank-grid .jqg-second-row-header, 
.report-grid .jqg-second-row-header,
.rank-grid .jqg-third-row-header, 
.report-grid .jqg-third-row-header{
  background: white;
}


/*中小屏*/
@media(max-width: 670px){

  .pfms-grid .ui-jqgrid .ui-jqgrid-toppager .ui-pg-table td:nth-of-type(3),
  .export-grid .ui-jqgrid .ui-jqgrid-toppager .ui-pg-table td:nth-of-type(3){
    display: none;
  }
  .report-rank .filter-wrap .form-group label.the-label{
    width: 100px;
  }
}

@media(max-width: 480px){
  .xxxgrey .dropdown-menu.pull-right:before,
  .xxxgrey .dropdown-menu.pull-right:after {
    left: auto!important;
    right: 70px!important;
  }
  .xxxgrey .dropdown-menu.pull-right {
    left: auto!important;
    right: -50px!important;
  }
}

/*小屏*/
@media(max-width: 360px){
  .report-panel .condition-wrap .form-group {
    margin-right: 0!important;
  }
  .pfms-grid .report-title,
  .export-grid .report-title {
    text-align: left!important;
  }
  .pfms-grid .report-title span{
    display: block!important;
  }
  .report-rank fieldset {
    padding: 0;
  }
  .pfms-grid .ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-labels th{
    padding-left: 5px;
  }
  .pfms-grid .ui-jqgrid .ui-jqgrid-btable .ui-jqgrid-labels th{
    padding-left: 10px;
  }
  .pfms-grid .ui-jqgrid tr.jqgrow td {
    padding-left: 10px;
  }
  /*dialog*/
  .report-target-dialog .search-input {
    width: 100%;
  }
  .report-target-dialog .search-wrap .cancel-btn,
  .report-target-dialog .search-wrap .search-btn {
    margin-top: 8px;
  }
  .report-target-dialog .org-list-wrap,
  .report-target-dialog ul.org-list {
    height: 100%;
  }
  .ui-pg-button-download-default .ui-pg-div {
    padding-right: 1px!important;
    width: auto!important;
  }
  .ui-pg-button-download-default .dl-text {
    display: none!important;
  }
}

/*业绩报表表格内样式特殊处理*/
#report-grid-table_timeRange{
  text-align: center!important;
  padding-left: 0!important;
}

#gbox_report-grid-table tr.jqgrow td[aria-describedby="report-grid-table_timeRange"]{
  text-align: center!important;
  padding-left: 0!important;
}

/*选择拓展员（带机构树）*/
.explorer-select-dialog .caption-line {
  padding-left: 0px;
}
.explorer-select-dialog .caption-line .org-sub-title {
  padding-left: 16px;
  width: 60%;
  display: inline-block;
}
.explorer-select-dialog .caption-line .explorer-sub-title {
  border-left: 1px solid #DDD;
  padding-left: 20px;
  display: inline-block;
}
.explorer-select-dialog .org-tree-sit,
.explorer-select-dialog .explorer-list-sit {
  padding: 8px 16px 16px 16px;
  height: 100%;
  overflow: auto;
}

.complex-explorer-select {
  height: 100%;
  position: relative;
}

.complex-explorer-select .org-tree-sit {
  display: inline-block;
  float: left;
  width: 60%;
}
.complex-explorer-select .explorer-list-sit {
  height: 90%;
  border-left: 1px solid #DDD;
  display: inline-block;
  position: absolute;
  right: 0;
  width: 40%;
}
.complex-explorer-select ul.explorer-list {
  margin: 0;
  padding: 0;
}
.complex-explorer-select ul.explorer-list li{
  list-style: none;
  height: 30px;
  cursor: pointer;
}
.complex-explorer-select ul.explorer-list li * {
  cursor: pointer;
}
.complex-explorer-select ul.explorer-list li:hover {
    background: #f1f8fd;
}

.complex-explorer-select ul.explorer-list>li>label {
  height: 100%;
  width: 100%;
  display: inline-block;
  padding-left: 20px;
  white-space: nowrap;
}

.complex-explorer-select ul.explorer-list>li>label>input {
  display: block;
  position: absolute;
  margin-left: -20px;
  margin-top: 4px;
}
.explorer-select-dialog .search-result-list .remark {
  padding-left: 16px;
  color: #ABABAB;
}

/*商户选择*/
.mcht-select-dialog .search-input {
  width: 310px;
}

.report-target-dialog ul.search-result-list {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 0;
  min-height: 200px;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}
.report-target-dialog ul.search-result-list>li {
  list-style: none;
  height: 30px;
  line-height: 30px;
  position: relative;
  cursor: pointer;
  padding-left: 16px;
}
.report-target-dialog ul.search-result-list>li:hover {
    background: #f1f8fd;
}
.report-target-dialog ul.search-result-list>li label{
  cursor: pointer;
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: 16px;
}
.report-target-dialog ul.search-result-list>li input{
  top: -2px;
  left: -2px;
  position: relative;
}

/*>>>>>>考核对话框-分页*/
.report-target-dialog .search-result-panel {
  position: relative;
  height: 100%;
}
.report-target-dialog .search-result-panel ul.org-list li label,
.report-target-dialog .search-result-panel ul.search-result-list li label {
/*  text-overflow: ellipsis;
  overflow: hidden;*/
  width: 80%;
  white-space: nowrap;
  padding-left: 5px;
}
.report-target-dialog .search-result-panel .pager-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.report-target-dialog .search-result-panel .pager {
  margin: 0;
}
.report-target-dialog .search-result-panel .pager>ul {
  display: inline-block;
  margin: 0;
}
.report-target-dialog .search-result-panel .pager>ul>li{
  display: inline-block;
  margin-right: 10px;
}
.report-target-dialog .search-result-panel .pager>ul>li>a{ 
  padding: 2px 10px;
}
/*<<<<<考核对话框-分页*/

/*下载按钮*/
.xxxxxxpfms-grid .ui-jqgrid-toppager .disabled-dl .ui-pg-div,
.export-grid .ui-jqgrid-toppager .disabled-dl .ui-pg-div {
  cursor: not-allowed;
}
.xxxxxxpfms-grid .ui-jqgrid-toppager .disabled-dl .ui-pg-div,
.xxxxxxpfms-grid .ui-jqgrid-toppager .ui-pg-div:hover,
.export-grid .ui-jqgrid-toppager .disabled-dl .ui-pg-div,
.export-grid .ui-jqgrid-toppager .ui-pg-div:hover{
  background: white;
  color: #2A7CCE!important;
}

.xxxxxxpfms-grid .ui-jqgrid-toppager .disabled-dl .ui-icon,
.xxxxxxpfms-grid .ui-jqgrid-toppager .ui-pg-div:hover .ui-icon,
.export-grid .ui-jqgrid-toppager .disabled-dl .ui-icon,
.export-grid .ui-jqgrid-toppager .ui-pg-div:hover .ui-icon{
  color: #2A7CCE!important;
}

.xxxxxxpfms-grid .ui-jqgrid-toppager .ui-pg-div .ui-icon,
.export-grid .ui-jqgrid-toppager .ui-pg-div .ui-icon {
  color: white;
  line-height: 25px;
}

.xxxxxxpfms-grid .ui-jqgrid-toppager .ui-pg-div,
.export-grid .ui-jqgrid-toppager .ui-pg-div{
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  font-size: 14px!important;
  padding-right: 10px;
}



/*表格工厂内置下载按钮*/
.ui-pg-button-download-default.disabled {
  opacity: 0.38;
}
.ui-pg-button-download-default.disabled:hover .ui-pg-div,
.ui-pg-button-download-default .ui-pg-div {
  /*padding: 1px 10px 1px 0;*/
  float: left;
  position: relative;
  border: 1px solid white;
  color: white!important;
  background: transparent;
  border-radius: 3px;
  width: 98px;
}

.ui-pg-button-download-default.disabled:hover,
.ui-pg-button-download-default.disabled:hover *{
  cursor: not-allowed !important;
}

.ui-pg-button-download-default .ui-pg-div:hover{
  background: white;
  color: #2A7CCE!important;
}

.ui-pg-button-download-default.disabled:hover .ui-pg-div .ui-icon,
.ui-pg-button-download-default .ui-icon{
  color: white!important;
}

.ui-pg-button-download-default:hover .ui-icon{
  color: #2A7CCE!important;
}

.ui-pg-button-download-default.disabled .ui-pg-div .ui-icon:hover {
  -moz-transform: none!important;
  -webkit-transform: none!important;
  -o-transform: none!important;
  -ms-transform: none!important;
  transform: none!important;
  opacity: 0.85;
  position: static;
  margin: 0 1px;
}


/*队列任务*/
.task-queue-dropdown-menu {
  width: 320px;
}
.task-queue-dropdown-menu .waiting-text{
  cursor: pointer;
}
.task-queue-dropdown-menu .waiting-text:hover{
  text-decoration: underline;
}
.task-queue-table-sit {
  padding: 0 8px;
  max-height: 320px;
  overflow-y: auto;
}
table.task-queue-table {
  width: 100%;
  font-size: 13px;
  color: #555;
  table-layout: fixed;
}
table.task-queue-table tr {
  border-bottom: 1px solid #e4ecf3;
}
table.task-queue-table tr i.icon {
  font-size: 14px;
}
table.task-queue-table .col-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
table.task-queue-table .col-status {
  width: 70px;
}
table.task-queue-table .col-status .text{
  margin-left: 2px;
}


