@font-face {
	font-family: 'opf';
	src:url('../fonts/opf.eot?-64x261');
	src:url('../fonts/opf.eot?#iefix-64x261') format('embedded-opentype'),
		url('../fonts/opf.woff?-64x261') format('woff'),
		url('../fonts/opf.ttf?-64x261') format('truetype'),
		url('../fonts/opf.svg?-64x261#opf') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-opf-"], [class*=" icon-opf-"] {
	font-family: 'opf';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-opf-rmb-bag:before {
	content: "\e600";
}
.icon-opf-checkbox-checked:before {
	content: "\f603";
}
.icon-opf-thumbs-o-up:before {
	content: "\f604";
}
.icon-opf-download:before {
	content: "\f605";
}
.icon-opf-upload:before {
	content: "\f606";
}
.icon-opf-list:before {
	content: "\f607";
}
.icon-opf-clock:before {
	content: "\f608";
}
.icon-opf-copy:before {
	content: "\f609";
}
.icon-opf-quill:before {
	content: "\f60a";
}
.icon-opf-search:before {
	content: "\f60b";
}
.icon-opf-clipboard:before {
	content: "\f60c";
}
.icon-opf-menu:before {
	content: "\f60d";
}
.icon-opf-terminals:before {
	content: "\f60e";
}
.icon-opf-state-change:before {
	content: "\f60f";
}
.icon-opf-restart:before {
	content: "\f610";
}
.icon-opf-verify:before {
	content: "\f611";
}
.icon-opf-join-settle:before {
	content: "\f612";
}
.icon-opf-notjoin-settle:before {
	content: "\f613";
}
.icon-opf-receive:before {
	content: "\f614";
}
.icon-opf-settle-sums:before {
	content: "\f615";
}
.icon-opf-settle:before {
	content: "\f616";
}
.icon-opf-confirm-receive:before {
	content: "\f617";
}
.icon-opf-param-config:before {
	content: "\f618";
}
.icon-opf-divide-batch:before {
	content: "\f619";
}
.icon-opf-process-account:before {
	content: "\f61a";
}
.icon-opf-iboxpay:before {
	content: "\f61b";
}
.icon-opf-office:before {
	content: "\f600";
}
.icon-opf-arrow-right:before {
	content: "\f601";
}
.icon-opf-arrow-left:before {
	content: "\f602";
}
.icon-opf-questions:before {
	content: "\f61c";
}
.icon-opf-warning:before {
	content: "\f61d";
}
.icon-opf-icon-key:before {
	content: "\f61e";
}
.icon-opf-user:before {
	content: "\f61f";
}
.icon-opf-rotate-right:before {
	content: "\f620";
}
.icon-opf-lock:before {
	content: "\f621";
}
.icon-opf-minus-circle:before {
	content: "\f622";
}
.icon-opf-times-circle:before {
	content: "\f623";
}
.icon-opf-check-circle:before {
	content: "\f624";
}
.icon-opf-rotate-left:before {
	content: "\f626";
}
